########################
## Imports from the standard library
########################
# typing
# copy
# json
# collections
# datetime
# re
# asyncio
# pathlib
# concurrent
# types
# os
# functools
# base64
# hashlib
Pillow
# io
# math
# time

########################
## More exotic dependencies
########################
httpx
pydantic
pydantic_core
requests
backoff
numpy
rich
puremagic
fastapi

########################
## Validation dependencies
########################
pycountry
phonenumbers
email_validator
python-stdnum
nanoid

########################
## AI dependencies
########################
openai
tiktoken


########################
## SSL dependencies
########################
truststore

########################
## Development dependencies
########################
# ruff - development tool, not runtime dependency
